body {
    background-color:  #e5deda;
    margin: 0;
    padding: 0;
}

img {
    margin: 20px;
}

nav, .navbar, .navbar-default {
    background-color: #b32230;
}

#login {
    width: 500px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -175px;
    text-align: center;
}

#list,
#detail {
    background-color: #e5deda;
    margin: 0 auto;
    min-width: 480px;
    height: auto;
    text-align: center;
}

#whiteboard {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.5;
    z-index: -1;
}

#add-friends {
}

#add-friends-popup {
    display: none;
    position:absolute;
    max-width:100%;
    margin: 10px;
    left:0;
    border-radius: 5px;
    padding-top: 40px;
    z-index: -1;
}

.quest-detail,
.quest-review,
.quest-box {
    width: 100%;
    background-color: #fff;
    border: 1px solid #958e8a;
    margin-bottom: 10px;
    border-radius: 5px;
}

.quest-body img {
    float: left;
    margin: 30px;
}

.quest-body .title img {
    margin: 5px;
    margin-top: 30px;
}

.quest-detail,
.quest-body,
.quest-foot {
    font-size: 24px;
}

.quest-detail .title,
.quest-body .title {
    border-radius: 5px 5px 0px 0px;
    margin: 0px;
    font-weight: bold;
    text-align: left;
}

.quest-detail .desc,
.quest-body .desc {
    margin: 0px;
    text-align: left;
    padding-left: 5px;
}

.quest-detail .quest-add-comment {
    border-radius: 0px 0px 5px 5px;
}

.quest-score {
    text-align: left;
    float: none;
}

.quest-foot {
    padding: 50px;
}

.quest-review-comment {
    width: 100%;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    text-align: left;
    border: 1px solid #ddd;
}

.quest-add-comment {
    padding-top: 10px;
}

.detail-arrow {
    float: right !important;
}

.btn-flat {
    width:100%;
    border-radius: 0px;
}

.btn-bath {
    width:100%;
    border-radius: 0px 0px 5px 5px;
}

.btn-gray {
    width: 90%;
    margin: 5px;
    border-radius: 5px !important;
    background-color: #efefef;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}

.logo-brand {
    margin: 0 auto;
    text-align: center;
}

.circle-outer {
    position: relative;
    text-align: left;
}

.circle-icon {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #ccc;
}

.circle {
    text-align: left;
    padding: 0;
    position: absolute;
}

.circle-outer-up-right {
    left: 100%;
    top: 0%;
}

.circle-outer-up-left {
    left: 0%;
    top: 0%;
}

.circle-outer-down-right {
    left: 100%;
    top: 100%;
}

.circle-outer-down-left {
    left: 0%;
    top: 100%;
}

.circle-up-right {
    margin-top: 10px;
    margin-left: -30px;
}

.circle-up-left {
    margin-top: 10px;
    margin-left: 10px;
}

.circle-down-right {
    margin-top: -30px;
    margin-left: -30px;
}

.circle-down-left {
    margin-top: -30px;
    margin-left: 10px;
}

.color-1{
    color: #3efe8d;
}

.color-2{
    color: #fe6263;
}