body {
    margin: 0;
    padding: 0;
}

#login {
    width: 500px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -175px;
    text-align: center;
}

#list {
    margin: 0 auto;
    min-width: 480px;
    height: auto;
    text-align: center;
}

.quest-box {
    padding-bottom: 15px;
}

.quest-body,
.quest-foot {
    width: 100%;
    padding: 0px 10px;
}

.quest-body img {
    float: left;
    margin: 0 5px;
    background-color: #eee;
}

.quest-body .title {
    border-radius: 5px 5px 0px 0px;
    margin: 0px;
    font-weight: bold;
    background-color: #aaa;
}

.quest-body .desc {
    margin: 0px;
    text-align: left;
    padding-left: 5px;
    background-color: green;
}

.quest-body {
    font-size: 24px;
}

.btn-flat {
    width:100%;
    border-radius: 0px;
}

.btn-bath {
    width:100%;
    border-radius: 0px 0px 5px 5px;
}

.logo-brand {
    margin: 0 auto;
    text-align: center;
}

.color-1{
    color: #3efe8d;
}

.color-2{
    color: #fe6263;
}