<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />

    <title>Teamplay Quest</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.datetimepicker.css') }}">

    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.datetimepicker.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/facebook.js') }}"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script

    <!--{% block favicon %}-->
        <!--<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}"/>-->
    <!--{% endblock %}-->
</head>
<body>
{% block layout %}{% endblock %}

</body>
</html>

