{% extends "layout.html" %}

{% block contents %}
<div id="list">
    <div class="quest-box">
        <div class="circle-outer circle-outer-up-right">
           <span class="circle-icon circle circle-up-right" ></span>
        </div>
        <div class="circle-outer circle-outer-up-left">
           <span class="circle-icon circle circle-up-left" ></span>
        </div>
        <div class="quest-body">
            <img src="/static/images/list_place.png" width="100px" height="100px" />
            <p class="title"> Title </p>
            <p class="desc"> Description
            <br />  Chicken!Chicken! Chicken!
            <br />  Chicken!Chicken! Chicken!
            <br />  Chicken!Chicken! Chicken!
            <br />  Chicken!Chicken! Chicken!
            </p>
        </div>
        <div class="quest-foot">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-gray" type="button">시간</button>
                </span>
            </div>
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-gray" type="button">장소</button>
                </span>
            </div>
        </div>
        <div class="circle-outer circle-outer-down-right">
           <span class="circle-icon circle circle-down-right"></span>
        </div>
        <div class="circle-outer circle-outer-down-left">
           <span class="circle-icon circle circle-down-left" ></span>
        </div>
    </div>
</div>
{% endblock %}