{% extends "layout.html" %}

{% block contents %}
<div id="list">
    <div class="quest-box">
        <div class="quest-body">
            <img src="" width="100px" height="100px" />
            <p class="title"> Title </p>
            <p class="desc"> Description
            <br />  Chicken!Chicken! Chicken!
            <br />  Chicken!Chicken! Chicken!
            <br />  Chicken!Chicken! Chicken!
            <br />  Chicken!Chicken! Chicken!
            </p>
        </div>
        <div class="quest-foot">
            <button class="btn btn-success btn-bath">수행완료</button>
        </div>
    </div>
</div>

{% endblock %}