{% extends "layout.html" %}

{% block contents %}
<div id="create">
    <div id="whiteboard"></div>

    <div id="add-friends-popup">
        <div class="input-group">
            <input class="form-control input-lg" type="text" placeholder="친구찾기">
            <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
        </div>
        <div id="friends">
    {% if users %}
        {% for user in users%}
            <div class="input-group input-lg">
                <input type="button" class="btn btn-circle input-lg glyphicon glyphicon-remove-circle" data-checked="false" />
                <img src="{{ user.img_url }}" height="40px" class=""/> {{ user.name }}
            </div>
        {% endfor %}
    {% endif %}
        </div>
        <div class="input-group">
            <button id="add-friends-lockin" class="btn">확인</button>
        </div>
    </div>

    <img src="/static/images/creategroup_img.png" class="creategroup-bg" />
    <div>
        <form role="form" method="post">
            {{ form.hidden_tag() }}

            {% from "_form_field.html" import render_field %}
            {% for field in form if field.widget.input_type != 'hidden' %}
                {{ render_field(field, class="form-control", placeholder=field.description['placeholder']) }}
            {% endfor %}

            <img src="/static/images/creategroup_line.png" class="creategroup-bg" />
            <br />
            <a href="#" id="add-friends" class="btn btn-primary">
                <img src="/static/images/creategroup_invite.png" class="creategroup-bg" width="50px" height="50px" />
            </a>
            <br />멤버초대
            <br />
            <button type="submit" class="btn btn-info">그룹 만들기</button>
        </form>
    </div>
</div>

    <script src="{{ url_for('static', filename='js/group_create.js') }}"></script>

{% endblock %}