{% extends "layout.html" %}

{% block contents %}
<div class="grouplist-bg"></div>
<div id="list">
    <a href="/group/create" class="redirect-gc">
        <img src="/static/images/grouplist_icon_new.png" width="30px" /> 새 그룹 만들기
    </a>

    {% if groups  %}
        {% for group, owner in groups  %}
    <div class="group-item">
        <img src="/static/images/grouplist_group.png"/>
        <h2><a href="{{ url_for('quest', group_id=group.id) }}"> {{ group.name }} </a></h2>
    </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}